body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #9199BE;
}
@media(max-width:640px){
    .nav-logo{
        justify-content: center;
    }
}
.home-nav-bar{
    z-index: 1;
    background-color: #2E303E;
    align-items: center;
    padding: 0 30px 0px 30px;
    margin-bottom: 25px;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo h1{
    color: Orange;
}
.site-logo{
    height: 50px;
    width: auto;
    margin-right: 10px;
}
.nav-links{
    border-top: solid 1px white;
    width: 100%;
}
.nav-links ul{
    display: flex;
    padding: 0px;
    list-style: none;
}
.nav-links ul li{
    font-size: 20px;
    padding-bottom: 15px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
}

.home-link{
    margin-right: 25px;
    border-bottom: solid 5px orange
}
@media(max-width:640px){
 html body .main-section-container{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.main-section-container{
    padding-left: 25px;
    padding-right: 25px;
}
@media(max-width:975px){
    .in-progress-container .in-progress-content .in-progress-image img{
        height: 350px;
    }
    .in-progress-container .in-progress-content .in-progress-text{
        font-size: 18px;
    }
}
@media(max-width:700px){
    .in-progress-container .in-progress-content .in-progress-image img{
        height: 275px;
    }
    .in-progress-container .in-progress-content .in-progress-text{
        font-size: 16px;
    }
}
@media(max-width:640px){
    .in-progress-container .in-progress-content{
        background-image: url("https://th.bing.com/th/id/R.6c37a8b3b9658cd7e31d6f8f0597a6a7?rik=KWqOcC4rFPt%2fqg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2frl0rcZG.jpg&ehk=WWDoJizrWwCYgdYjsg1QirtF9j5fXt0YxxQ28LBILXg%3d&risl=&pid=ImgRaw&r=0");
        display: block;
        padding-right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .in-progress-container .in-progress-header{
        text-align: center;
    }
    .in-progress-container .in-progress-content .in-progress-text h2{
        color: orange;
        padding-bottom: 20px;
    }
    .in-progress-container .in-progress-content .in-progress-text{
        width: 100%;
        background-color: #54678f7d;
    }
    .in-progress-image{
        display: none;
    }
}
.in-progress-container{
    height: 525px;
    background-color: #54678F;
}
.in-progress-content{
    display: grid;
    height: 460.5px;
    grid-template-columns: 50% 50%;
}
.in-progress-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
}
.in-progress-text h2{
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.in-progress-text p{
    margin: 10px;
}
.in-progress-text p strong{
    color: orange;
}
.in-progress-image{
    position: relative;
}
.in-progress-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: auto;
}
.in-progress-header{
    background-color: #2E303E;
}
.in-progress-header h1{
    color: orange;
    margin: 0px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media(max-width:850px){
    .yearly-reviews-container .yearly-reviews-image img{
        height: auto;
        width: 125px;
    }
}
@media(max-width:640px){
    .yearly-reviews-container .yearly-reviews-header{
        text-align: center;
    }
    .yearly-reviews-container .yearly-reviews-image img{
        height: auto;
        width: 100px;
    }

}
@media(max-width:540px){
    .yearly-reviews-container .yearly-reviews-image{
        justify-content: left;
        overflow-x: scroll;
    }
    .yearly-reviews-container .yearly-reviews-image img{
        margin-right: 15px;
    }
}
.yearly-reviews-container{
    width: 100%;
    background-color: #54678F;
    margin-bottom: 20px;
}
.yearly-reviews-header{
    background-color: #2E303E;
    color: orange;
}
.yearly-reviews-header h2{
    margin: 0px;
    padding: 5px 0px 5px 25px;
}
.yearly-reviews-image{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}
.yearly-reviews-image img{
    height: auto;
    width: 150px;
}
@media(max-width:700px){
    .favorite-screenshots-container .favorite-screenshots button img{
        height: auto;
        width: 200px;
    }
}
@media(max-width:640px){
    .favorite-screenshots-container .favorite-screenshots-header{
        text-align: center;
    }
}
.favorite-screenshots-container{
    z-index: 0;
    position: relative;
    margin-bottom: 20px;
}
.favorite-screenshots-header{
    background-color: #2E303E;
    color: orange;
}
.favorite-screenshots-header h2{
    margin: 0px;
    padding: 5px 0px 5px 25px;
}
.favorite-screenshots{
    display: flex;
    padding: 20px 0px 20px 0px;
    background-color: #54678F;
    overflow-x: scroll;
}
.favorite-screenshots button{
    border: none;
    background-color: #54678F;
    cursor: pointer;
}
.favorite-screenshots button img{
    height: auto;
    width: 300px;
}

.hidden-images-container{
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
}
.hidden-images div img{
    height: auto;
    width: 90vw;
}
.hidden-images div button{
    position: absolute;
    padding: 5px;
}
.hidden-images div button img{
    height: 15px;
    width: auto;
}
#hidden-image-one-container{
    position: relative;
    height: 100vh;
    display: none;
}
#hidden-image-one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hidden-image-two-container{
    position: relative;
    height: 100vh;
    display: none;
}
#hidden-image-two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hidden-image-three-container{
    position: relative;
    height: 100vh;
    display: none;
}
#hidden-image-three{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hidden-image-four-container{
    position: relative;
    height: 100vh;
    display: none;
}
#hidden-image-four{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hidden-image-five-container{
    position: relative;
    height: 100vh;
    display: none;
}
#hidden-image-five{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E303E;
    padding-top: 5px;
    padding-bottom: 5px;
}
.instagram-logo{
    height: 35px;
    width: auto;
    padding-right: 10px;
}
.twitter-logo{
    height: 40px;
    width: auto;
    padding-left: 10px;
}
