body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background-color: #9199BE;
}
@media(max-width:640px){
    .nav-logo{
        justify-content: center;
    }
    .home-nav-bar .nav-links-container ul li{
        font-size: 18px;
        padding-bottom: 15px;
        gap: 15px;
    }
}
.home-nav-bar{
    z-index: 1;
    background-color: #2E303E;
    align-items: center;
    padding: 0 30px 0px 30px;
}
.active-page{
    border-bottom: solid 5px orange;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo h1{
    color: Orange;
}
.site-logo{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 45px;
    width: auto;
    margin-right: 10px;
}


.nav-links-container{
    border-top: solid 1px white;
    width: 100%;
}
.nav-links-container ul{
    display: flex;
    gap: 20px;
    padding: 0px;
    list-style: none;
}
.nav-links-container ul li{
    font-size: 20px;
    padding-bottom: 15px;
}
.nav-links-container ul a{
    color: white;
    text-decoration: none;
}

@media(max-width:640px){
 html body .main-section-container{
        padding-left: 5px;
        padding-right: 5px;
    }
}
.main-section-container{
    padding-left: 25px;
    padding-right: 25px;
}
@media(max-width:975px){
    .in-progress-container .in-progress-content .in-progress-text{
        font-size: 18px;
    }
}
@media(max-width:700px){
    .in-progress-container .in-progress-content .in-progress-text{
        font-size: 16px;
    }
}
@media(max-width:640px){
    .in-progress-container .in-progress-content{
        background-image: url("https://d2ofqe7l47306o.cloudfront.net/games/1280x1024/sly-cooper-thieves-in-time-02.jpg");
        display: block;
        padding-right: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
@media(max-width:400px){
    .in-progress-container .in-progress-content .in-progress-text{
        padding-left: 10px;
        padding-right: 10px;

    }
}
    .in-progress-container .in-progress-header{
        text-align: center;
    }
    .in-progress-container .in-progress-content .in-progress-text h2{
        color: orange;
        padding-bottom: 20px;
    }
    .in-progress-container .in-progress-content .in-progress-text{
        width: 100%;
        background-color: #54678f7d;
    }
    .in-progress-image{
        display: none;
    }
}
.in-progress-container{
    height: fit-content;
    background-color: #54678F;
    margin-top: 20px;
}
.in-progress-content{
    display: grid;
    height: 460.5px;
    grid-template-columns: 50% 50%;
}
.in-progress-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
}
.in-progress-text h2{
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.in-progress-text p{
    margin: 10px;
}
.in-progress-text p strong{
    color: orange;
}
.in-progress-image{
    position: relative;
    background-color: #727998;
}
.in-progress-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;
}
.in-progress-header{
    background-color: #2E303E;
}
.in-progress-header h1{
    color: orange;
    margin: 0px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media(max-width:850px){
    .yearly-reviews-container .yearly-reviews-image img{
        height: auto;
        width: 125px;
    }
}
@media(max-width:720px){
    .yearly-reviews-container .yearly-reviews-header{
        text-align: center;
    }
    .yearly-reviews-container .yearly-reviews-image img{
        height: auto;
        width: 100px;
    }

}
@media(max-width:540px){
    .yearly-reviews-container .yearly-reviews-image{
        justify-content: left;
        overflow-x: scroll;
    }
    .yearly-reviews-container .yearly-reviews-image img{
        margin-right: 10px;
    }
}
.yearly-reviews-container{
    background-color: #54678F;
    margin-top: 20px;
}
.yearly-reviews-header{
    background-color: #2E303E;
    color: rgb(255, 166, 0);
}
.yearly-reviews-header h2{
    margin: 0px;
    padding: 5px 0px 5px 25px;
}
.yearly-reviews-image{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}
.yearly-reviews-image img{
    height: auto;
    width: 150px;
}
@media(max-width:700px){
    .favorite-screenshots-container .favorite-screenshots button img{
        height: auto;
        width: 200px;
    }
}
@media(max-width:640px){
    .favorite-screenshots-container .favorite-screenshots-header{
        text-align: center;
    }
}
.favorite-screenshots-container{
    z-index: 0;
    position: relative;
    margin-top: 20px;
}
.favorite-screenshots-header{
    background-color: #2E303E;
    color: orange;
}
.favorite-screenshots-header h2{
    margin: 0px;
    padding: 5px 0px 5px 25px;
}
.favorite-screenshots{
    display: flex;
    padding: 20px 0px 20px 0px;
    background-color: #54678F;
    overflow-x: scroll;
}
.favorite-screenshots button{
    border: none;
    background-color: #54678F;
    cursor: pointer;
}
.favorite-screenshots button img{
    height: auto;
    width: 300px;
}
.hidden-images-section-container{
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100%;
}
.hidden-images-section-container button img{
    height: 25px;
    width: auto;
}
.hidden-image-content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.hidden-image-content img{
    width: 90vw;
    height: auto;
}
.footer-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #2E303E;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.instagram-logo{
    height: 35px;
    width: auto;
    padding-right: 10px;
}
.twitter-logo{
    height: 40px;
    width: auto;
    padding-left: 10px;
}

@media(max-width:780px){
    .review-section-container .review-section{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .review-section-container .review-yearly-reviews-container{
        padding-left: 5px;
        padding-right: 5px;
    }
     
}
.review-section-container{
    width: 100%;
}

.review-section{
    display: flex;
    flex-direction: column-reverse;
    height: 700px;
    grid-template-columns: auto 20%;
    gap: 15px;
    padding-left:25px;
    padding-right: 25px;
    margin-bottom: 25px;
}
.reviews-container{
    height: 100%;
    background-color: #54678F;
}
.reviews-header{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2E303E;
}
.reviews-header h2{
    padding-left: 25px;
    margin: 0px;
    color: orange;
}
.review-yearly-reviews-container{
    padding-left: 25px;
    padding-right: 25px;
}
.alphabetical-review-buttons{
    display: none;
    padding-top: 25px;
    margin-bottom: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.alphabetical-review-buttons button{
    background-color: #54678F;
    border: none;
    border-bottom: orange 1px solid;
    color: orange;
    margin-right: 5px;
    cursor: pointer;
}
.reviews-list-container{
    display: none;
}
.reviews-list{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0px;
}
#active-letter{
    color: white;
    border-bottom: white 1px solid;
}
@media(max-width:780px){
    .temporary-reviews-list-container .temporary-reviews-list li{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:650px){
    .temporary-reviews-list li button{
        font-size: 18px;
    }
    .temporary-reviews-list .review-list-console-logo{
        height: 20px;
        width: auto;
    }
    .temporary-reviews-list .review-score{
        height: 15px;
        margin-left: 10px;
        width: auto;
}   
}
.temporary-reviews-list{
    list-style: none;
    padding: 0px;
}
.temporary-reviews-list li{
    display: flex;
    justify-content: space-between;
    background-color: #727998;
    padding: 5px 50px 5px 50px;
    margin-bottom: 10px;
}
.temporary-reviews-list li button{
    background-color: #727998;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0px;
    font-size: 20px;
}
.temporary-reviews-list li button a{
    color: orange;
    text-decoration: underline orange;
}
.review-list-console-logo{
    height: 25px;
    width: auto;
}
.review-list-images{
    display: flex;
    align-items: center;
}
.review-score{
    height: 20px;
    margin-left: 10px;
    width: auto;
}
.game-id{
    display: none;
}
@media(max-width:780px){
    .review-section-container .review-section{
        padding-left: 5px;
        padding-right: 5px;
    }
    .review-section-container .review-template-container{
        padding-left: 5px;
        padding-right: 5px;
    }
    div .game-reviews-container{
        padding-left: 5px;
        padding-right: 5px;
    }
    .review-template #review-template-information-container{
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .review-template-information{
        background-color: #54678f7d;
        padding-bottom: 15px;
    }
    .review-template-box-art{
        display: none;
    }
    .review-template .review-template-review-area div{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
@media(min-width:780px){
    .review-template #review-template-information-container{
        display: grid;
        grid-template-columns: 50% 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: none !important;
    }
}
@media(max-width:600px){
    .review-template-review-area div h1{
        text-align: center;
    }
    .review-template-review-area div h2{
        text-align: center;
    }
}
@media(max-width:400px){
    .review-template-header{
        text-align: center;
    }
    .review-template .review-template-information-container .review-template-information{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.game-reviews-container{
    padding-left: 25px;
    padding-right: 25px;
}
.review-template-container{
    margin-bottom: 20px;
    
}
.review-template-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2e303e;
    color: orange;
}
.review-template-header h2{
    margin: 0px;
    padding: 5px 0px 5px 25px;
}
.review-template{
    background-color: #54678f;
}
.review-template hr{
    width: 90%;
}
.review-template-information{
    padding-left: 20px;
}
.review-template-information h1{
    text-decoration: underline orange;
    margin-left: 10px;
    color: white;
}
.review-template-information p{
    color: white;
    margin: 10px;
    font-size: 20px;
}
.review-template-information p strong{
    color: orange;
}

.review-template-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-template-box-art{
    position: relative;
}
.review-template-box-art img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: auto;
}
.review-score{
    text-align: center;
}
.review-score img{
    height: 50px;
    width: auto;
}
.indent{
    text-indent: 20pt;
}
.review-template-review-area{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.review-template-review-area div{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
.review-template-review-area div h1{
    color: orange;
}
.review-template-review-area div p{
    font-size: 18px;
    line-height: 1.5;
}
